<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VE Shop - User</title>
	<link rel="icon" href="{% static 'img/Fevicon.jpg' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/_search.css' %}">
  <link rel="stylesheet" href="{% static 'css/user_p.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/_search.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="http://kit.fontawesome.com/a076d05399.js"></script>
  <style> .rounded-corners { border-radius: 15px; overflow: hidden;}</style>
</head>
<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="userindex"><img src="{% static 'img/logo.PNG' %}" width="300" height="62" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="userindex">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="user_category">Shop Category</a></li>
               <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="user_wish">wish list</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart">Shopping cart</a></li>
                  <li class="nav-item"><a class="nav-link" href="user_order">Order</a></li>
                  <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="login">LogOut</a></li>


            </ul>


<form class="wrapper" action="/search_page" method="GET">
  <div class="searchBar">
    <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
    <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
      </svg>
    </button>
  </div>
</form>



          </div>
        </div>
          <a href="cart" class="cart-count" style="display: inline-flex; align-items: center; text-decoration: none; color: #333; font-family: Arial, sans-serif; padding: 5px; background-color: #fff; border: 1px solid #ddd; border-radius: 25px;">
    <span class="cart-icon" style="font-size: 20px; margin-right: 8px;">🛒</span>
    <span class="cart-count-number" style="font-size: 14px; color: #fff; background-color: #007bff; border-radius: 50%; width: 24px; height: 24px; display: inline-flex; align-items: center; justify-content: center; font-weight: bold;">{{ cart_count }}</span>
</a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <div>
      <a href="user_profile">
        <img class="profile-image" src="{{ user.profile_pic.url}}" alt="" height="37" width="37">
      </a>
    </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <video autoplay muted loop  alt=""  class="rounded-corners" width="407"height="720" type="video/mp4">
                <source src="{% static 'img/home/hero-banner.MP4' %}">
              </video>
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>VE SHOP</h4>
              <h1>GET 50% OFF ON TECH PRODUCTS </h1>
              <p>Hurry, these fantastic deals won't last long shop today and give the gift to technology!</p>
              <a class="button button-hero" href="#view_me">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->

    <section class="section-margin mt-0">
      <div class="owl-carousel owl-theme hero-carousel">
           {% for i in ads %}
        <div class="hero-carousel__slide">
          <img src="{{i.image.url}}" alt="" class="img-fluid" width="633"height="550">
          <a href="#" class="hero-carousel__slideOverlay">
            <h3>{{i.heading}}</h3>
            <p>{{i.subheading}}</p>
          </a>
        </div>
          {% endfor %}
      </div>
    </section>
    <!--================ Hero Carousel end =================-->

    <!-- ================ trending product section start ================= -->  
  <section class="section-margin calc-60px" id="view_me">
  <div class="container" >
    <div class="section-intro pb-60px">
      <p>Popular new Item in the market</p>
      <h2>New <span class="section-intro__style">Product</span></h2>
    </div>
    <div class="row">
      {% for i in product %}
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card text-center card-product">
          <div class="card-product__img">
            <img class="card-img" src="{{i.image.url}}" alt="">
            <ul class="card-product__imgOverlay">
              <li><button><i class="ti-search"></i></button></li>

              {% if i.quantity > 0 %}
                <li><button><a href="../add_cart/{{i.pk}}"><i class="ti-shopping-cart"></i></a></button></li>
              {% else %}
                <li><button class="disabled"><i class="ti-shopping-cart"></i></button></li>
              {% endif %}

              <li><button><a href="../add_wishlist/{{i.pk}}"><i class="ti-heart"></i></a></button></li>
            </ul>
          </div>
          <div class="card-body">
            <p>{{i.brand}}</p>
            <h4 class="card-product__title"><a href="{% url 'single_product' i.pk %}">{{i.p_name}}</a></h4>
            <p class="card-product__price">{{i.price}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

    <!-- ================ trending product section end ================= -->  


    <!-- ================ offer section start ================= --> 
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>Up To 50% Off</h3>
              <h4>Winter Sale</h4>
              <p>Him she'd let them sixth saw light</p>
              <a class="button button--active mt-3 mt-xl-4" href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= --> 

    <!-- ================ Best Selling item  carousel ================= --> 
    <section  id="" class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2>Best <span class="section-intro__style">Sellers</span></h2>
        </div>
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">
          {% for i in product %}

          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="img-fluid" src="{{i.image.url}}"  alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                  <li><button><a href="../add_cart/{{i.pk}}"><i class="ti-shopping-cart"></i></a></button></li>
                <li><button><a href="../add_wishlist/{{i.pk}}" ><i class="ti-heart" ></i></a></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>{{i.brand}}</p>
              <h4 class="card-product__title"><a href="{% url 'single_product' i.pk %}">{{i.p_name}}</a></h4>
              <p class="card-product__price">{{i.price}}</p>
            </div>
          </div>
 {% endfor %}

          </div>
        </div>
      </div>
    </section>
    <!-- ================ Best Selling item  carousel end ================= --> 

    <!-- ================ Blog section start ================= -->  

    <!-- ================ Blog section end ================= -->  

    <!-- ================ Subscribe section start ================= --> 

    <!-- ================ Subscribe section end ================= -->



  </main>

<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								At VE Shop, our mission is to empower individuals and businesses by providing the latest and most reliable technology news, reviews, and insights.
                            </p>

						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="userindex">Home</a></li>
								<li><a href="user_category">Shop Category</a></li>
								<li><a href="user_wish">Wish List</a></li>
                                <li><a href="cart">Shopping Cart</a></li>
                                <li><a href="login">LogOut</a></li>

							</ul>
						</div>
					</div>

					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p>123, Main Street, Your City</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									+123 456 7890 <br>
									+123 456 7890
								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									free@infoexample.com <br>
									www.infoexample.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!--================ End footer Area  =================-->



  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/skrollr.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'vendors/mail-script.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>